@use 'variables' as var;
@use 'sass:color'; // Import the built-in Sass color module

@use 'components/buttons';
@use 'components/common';
@use 'components/facets';
@use 'components/footer';
@use 'components/form';
@use 'components/header';
@use 'components/node';
@use 'components/tables';
@use 'components/views';

// Keep Olivero's structural classes but apply your SASS logic
body {
  background-color: var.$background-light;
  background-image: none !important;

  .main-content__container {
    padding-block-start: var.$spacing-lg;
  }

  a {
    text-decoration: none;

    &:hover, &:focus {
      color: var.$text-dark;
    }
  }

  footer {
    a {
      &:hover, &:focus {
        color: var.$primary-color !important;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-block: 0
  }

  .text-winner {
    color: var.$primary-color;
  }

  .sidebar-grid {

    .site-main {
      grid-column: 1/7;
      @media (min-width: map-get(var.$breakpoints, 'mobile')) {
       grid-column: 1/8;
      }
      @media (min-width: map-get(var.$breakpoints, 'tablet')) {
       grid-column: 1/6;
      }
    }

    .region--sidebar {
      grid-column: 1/7;

      @media (min-width: map-get(var.$breakpoints, 'mobile')) {
       grid-column: 8/15;
      }
      @media (min-width: map-get(var.$breakpoints, 'tablet')) {
       grid-column: 6/15;
      }
    }
  }
}
