@use 'variables' as var;
@use 'sass:color'; // Import the built-in Sass color module
@use 'components/header';
@use 'components/footer';
@use 'components/facets';
@use 'components/tables'; // Added this
@use 'components/views'; // Added this
@use 'components/node'; // Added this
@use 'components/form'; // Added this

// Keep Olivero's structural classes but apply your SASS logic
body {
  background-color: var.$background-light;
  background-image: none !important;
  // font-family: var.$font-family !important;

  .main-content__container {
    padding-block-start: var.$spacing-lg;
  }
  div, span, a, button, ul, li , td, tr {
     // font-family: var.$font-family !important;
     // font-weight: 100;
  }
}

