@use 'sass:color';
@use '../variables' as var;

a {
  &.elimination {
    color: var.$gray-800;
  }
  &.elimination.quarter-finals {
    color: #e74c3c;
  }
  &.elimination.quarter-finals.semi-finals, &.elimination.semi-finals {
    color: #1a00ff;
    font-weight: 500;
  }
  &.elimination.quarter-finals.semi-finals.fighting-for-third, &.elimination.semi-finals.fighting-for-third {
    color: var.$text-bronze;
    font-weight: 700;
  }
  &.elimination.quarter-finals.semi-finals.fighting-for-champion, &.elimination.semi-finals.fighting-for-champion {
    color: var.$text-gold;
    font-weight: 1000;
  }
  &.score_team_a, &.score_team_b {
    color: var.$gray-900;
    font-weight: 1000;
  }
}

div {
  &.score_team_a, &.score_team_b {
    color: var.$gray-400;
    font-weight: 500;
  }
}

