@use '../variables' as var;

header {
  &.site-header {
    min-height: unset;
    border-bottom: 1px solid var.$gray-200;
  }

  #block-renify-site-branding {
    background: none;
    min-height: unset;
  }

  .mobile-buttons {
    margin-block-start: 1rem;
    @media (min-width: map-get(var.$breakpoints, 'mobile')) {
      margin-block-start: 2rem;
    }
  }
}
