@use '../variables' as var;

.primary-nav {
  &__menu {
    display: flex;
    list-style: none;
    gap: var.$spacing-md;
  }

  &__menu-link {
    color: var.$text-muted;
    text-decoration: none;
    padding: var.$spacing-xs var.$spacing-sm;
    border-radius: var.$border-radius-sm;

    &:hover, &.is-active {
      color: var.$primary-color;
      background-color: var.$gray-100;
    }
  }
}

.secondary-nav__menu {
  display: flex;
  gap: var.$spacing-sm;
  font-size: 0.9rem;
  
  a {
    color: var.$text-muted;
    text-decoration: none;
    
    &:hover {
      color: var.$danger-color; // Logout link feel
    }
  }
}
