@use '../variables' as var;
@use 'sass:color'; // Import the built-in Sass color module

.views-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 var.$spacing-sm; // Creates that "card" feel between rows

  time {
    font-size: var.$font-size-lg;
    font-family: var(--font-sans);
  }

  caption {
    font-size: var.$font-size-xxl !important;
    font-style: normal !important;
    font-family: inherit !important;
    margin: 0 !important;
    line-height: normal;
  }

  tr {
    transition: box-shadow 0.2s ease;

    .views-field-field-team-winner, .views-field-field-image {
      padding-left: 1rem;
    }

    &:hover {
      box-shadow: var.$shadow-sm;
    }
  }

  td {
    padding: var.$spacing-md;
    border-top: 1px solid var.$gray-100;
    border-bottom: 1px solid var.$gray-100;
    border-block-end: 1px solid var(--color--gray-65);

    &:first-child {
      border-left: 1px solid var.$gray-100;
      border-radius: var.$border-radius-md 0 0 var.$border-radius-md;
    }

    &:last-child {
      border-right: 1px solid var.$gray-100;
      border-radius: 0 var.$border-radius-md var.$border-radius-md 0;
    }

    .field {
      margin: 0;
      &__label {
        display: none;
      }
    }

    .field--name-field-dupr-id {
      .field__item {
        @media (min-width: map-get(var.$breakpoints, 'mobile')) {
          font-size: var.$font-size-md;
        }

        background-color: var.$primary-color;
        display: inline;
        color: white;
        padding: 0.2rem;
        border-radius: 1rem;
        font-size: var.$font-size-sm;

      }
    }

    .field--name-field-rating-singles {
      .field__item {
        &::before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f007";
          margin-right: 0.5rem;
          color: var.$primary-color;
        }
      }
    }

   .field--name-field-rating-doubles {
      .field__item {
        &::before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f500";
          margin-right: 0.5rem;
          color: var.$primary-color;
        }
      }
    }

    .field--name-field-location {
      .field__item {
        &::before {
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          content: "\f3c5"; /* Unicode for location-dot */
          color: #e74c3c; /* Red pin color */
          margin-right: 2px;
        }
      }
    }

    &.views-field-field-dupr-id {
      .ratings {
        display: flex;
        .field--name-field-rs-doubles, .field--name-field-rs-singles {
          margin-right: 0.5rem;
          border-bottom: 1px solid green;
          border-radius: 50%;
          font-size: .7rem;
          margin-bottom: 0;
        }
      }
    }

    &.views-field-field-venue {
      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f3c5"; /* Unicode for location-dot */
        color: #e74c3c; /* Red pin color */
        margin-right: 2px;
      }
    }

    &.views-field-field-rating-singles {
      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f007";
        margin-right: 0.5rem;
        color: var.$primary-color;
      }
    }

    &.views-field-field-rating-doubles {
      &::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f500";
        margin-right: 0.5rem;
        color: var.$primary-color;
      }
    }
    .views-field-field-image {
      width: 20%;
      height: 40px;
    }

    img {
      border-radius: 50%; // Circular Google-style profile photos
      border: 2px solid var.$gray-200;
      width: 40px;
      height: 40px;
    }
  }
}
